# Ignore KMS folder
kms/*
!kms/README.md

# Ignore IAM generated policies with sensible data
iam/*final*.json

# Ignore temporary or local files
*.log
*.tmp
.DS_Store

# Ignore PyCharm project files
.idea/