# Ignore KMS folder
kms/

# Ignore architecture folder
architecture/

# Ignore IAM generated policies with sensible data
iam/glue-role-policy.final.json

# Ignore temporary or local files
*.log
*.tmp
.DS_Store

# Ignore PyCharm project files
.idea/